// --------------------------------------------------
// Amahi - Beach Theme
// --------------------------------------------------

//@import "amelia.min.css";
@import "default.css";
//@import "cerulean.min.css";
//@import "cosmo.min.css";
//@import "cyborg.min.css";
//@import "darkly.min.css";
//@import "flatly.min.css";
//@import "journal.min.css";
// @import "lumen.min.css";
// @import "readable.min.css";
// @import "simplex.min.css";
// @import "slate.min.css";
// @import "spacelab.min.css";
// @import "superhero.min.css";
// @import "united.min.css";
// @import "yeti.min.css";
@import "_mixins.css.scss";


html,body{
  height:100%;
}
.left-margin-10{
  margin-left:10px;
}
.right-margin-10{
  margin-right: 10px !important;
}
.left-margin-20{
  margin-left:20px;
}
.left-margin-40{
  margin-left:40%;
}
.top-margin-10{
  margin-top:10px;
}
.increase-length-40{
  width:40px !important;
}
.increase-font-30{
  font-size: 30px;
}

#logo-amahi{
  background: url(../images/logo_amahi.png) no-repeat;
  display: block;
  width: 160px;
  height: 47px;
  text-indent:29px;
  font-size: 30px;
}
.navbar{
  margin-bottom:0px !important;
}
.well{
  padding:0px !important;
  margin-bottom: 0px !important;
}
//---------------------
//DASHBOARD
//----------------------
.page-name{
  list-style:none;
}



#welcome_apps {
  list-style: none;
  @include clearfix;
  padding : initial;
  > div {
    background: #f2f2f2;
    border: 3px solid #dedede;
    margin: 0 10px 10px 0;
    @include border-radius(5px);
    @include box-shadow(0 1px 1px #fff, inset 0 0 1px 1px rgba(0,0,0,.2));

    &.last { margin-right: 0; }

    &.install-wrap {
      background: url(../images/new_app_bg.png) no-repeat;
      width: 284px;
      height: 182px;
      margin: 180px auto 0;
      position: relative;
      border: 0;
      float: none;
      @include border-radius(0);
      @include box-shadow(none);

      a {
        background: url(../images/new_app_btn.png) no-repeat;
        height: 72px;
        width: 174px;
        position: absolute;
        top: 55px;
        left: 55px;
        border: 0;
        line-height: 1;
        padding: 0;
        margin: 0;
        @include border-radius(0);
      }
    }

    a {
      font-size: 14px;
      font-weight: 700;
      color: #526266;
      height: 80px;
      line-height: 80px;
      width: 284px;
      padding: 10px 5px;
      margin: 4px auto;
      @include border-radius(3px);
      overflow: hidden;

      &:hover { border-color: $redColor; color: $redColor; text-decoration: none; }
    }

    img, strong { float: left; }

    img {
      width: 120px;
      margin: 0 15px 0 0;
      vertical-align: middle;
      display: block;
    }
    &:hover { border-color: $redColor; color: $redColor; text-decoration: none; }
  }
}// end wellcome-apps

#latest_news {
  background: $greyBg;
  border: 9px solid $greyBg;
  @include border-radius(4px);
}

#app {
  margin: 30px auto 0;
  padding: 0;
  overflow: hidden;
}
//--------------------
//Footer Setting
//--------------------

.push{
    height: 70px; /* .push must be the same height as .footer */
}


//----------------------------------
//Side Menu
//----------------------------------

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sub-nav{
    margin-left:30px;
  }
  .glyphicon{
    margin-right:15px;
  }
  .glyphicon-users:before{
     content: "\e008";
  }
  .glyphicon-shares:before{
     content: "\e118";
  }
  .glyphicon-disks:before{
     content: "\e121";
  }
  .glyphicon-apps:before{
     content: "\e011";
  }
  .glyphicon-network:before{
     content: "\e135";
  }
  .glyphicon-settings:before{
     content: "\e019";
  }
  th,td{
  vertical-align: top;
  }
  .settings-col1-pad{
  width:50%;
  }
  .settings-col1-pad1{
  width:30%;
  }
  .form_hidden{
  display:none;
  }
  small{
  font-size:10px;
  }
  legend{
  font-size: 15px;
  }

 //Apps
 .app-store-header {
    padding: 15px 0 70px 0px;

  a {
    background: url(../images/sprites/apps_btns_sprite.png) no-repeat;
    display: block;
    text-indent: -9999px;
    height: 48px;
    width: 172px;
    cursor: pointer;

    &#btn-get-apps { background-position: 0 0; margin: 0 10px 0 0; float:right;}
    &#btn-install-apps { background-position: -182px 0; float:left;}
  }
}
 .img-wrap {
    background: #fff;
    padding: 2px;
    border: 1px solid #cccccc;
    @include border-radius(3px);
    img { display: block; max-width: 100%; }
  }
// Spinner
.spinner {
  margin-left: 10px;
  background: url(../images/working.gif) no-repeat left center;
  padding: 16px;
}

.thumbnail{
  width:64px;
  height:64px;
  display:inline-block !important;
}
#theme-sshot{
  height:100%;
  width:100%
}

//bootstrap some changes

.row{
  margin-left:0px;
  margin-right: 0px;
}

//Default stylesheet design

.settings-table {
  margin: 0px 0px 15px 0px;
  @include border-radius(5px);

  > div {
    &:last-child {
      .stretchtoggle { @include border-radius(0 0 5px 5px); }
    }
  }
  thead {
    th {
      &:last-child { @include border-radius(0 5px 0 0); }
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 0;

          &:first-child { @include border-radius(0 0 0 5px); }
          &:last-child { @include border-radius(0 0 5px 0); }
        }
      }
    }
  }
}


table.settings, .settings th {
  border-collapse: collapse;
  margin-bottom: 0px;
}

#settings-table table tr td:first-child {
  vertical-align: top;
}

.settings th{
  font-size: 16px;
  background: #333;
  color: #fff;
  border-collapse: collapse;
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-weight: bold;
}


.settings-col2{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.settings-col1 {
  padding: 0 0 0 30px;
  width: 30%;
  @include border-radius(5px 0 0 0);
}

.settings-col2, .users-col2, .shares-col2, .dhcp-col2 {
  width: 70%;
  padding: 0 0 0 30px;
  @include border-radius(0 5px 0 0);
}

.settings-lastcol {
  padding: 0 0 0 3px;
  @include border-radius(0 5px 0 0);
}


table.settings {
  tbody td {
    height: 35px;
    border-bottom: 1px solid #e8e8e8;
  }
  .odd td {
    background: #f8f8f8;
  }
}

th.centered, td.centered {
  text-align: center;
}

table.apptable {
  .odd td:first-child, .even td:first-child {
    padding: 0 0 0 5px;
  }
}

#shares {
  p {
    padding: 0 100px;
  }
  table p, div p {
    padding: 0;
  }
  padding-bottom: 20px;
}

.stretchtoggle {
  height: 33px;
  line-height: 33px;
  border-bottom-color: #dfdfdf;
  @include background-gradient(#fcfcfc, #f7f7f7);

  td {
    text-align: left;
    a {
      color: #000;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.settings-stretcher {
  border-bottom: 1px solid #E8E8E8;

  legend, fieldset {
    color: darkgrey;
    width: inherit;
    font-size: inherit;
    line-height: initial;
  }
  legend b, fieldset b {
    color: black;
  }
}

.settings-fields {
  table {
    border-collapse: collapse;

    td:first-child {
      width: 10%;
      text-align: right;
      padding-right: 25px;
      border-right: 1px solid #DFDFDF;
    }
  }
  td {
    padding: 0 0 10px 10px;
  }
  table {
    td table td {
      padding-bottom: 0;
      padding-left: 0;
      padding-top: 0 !important;
      border: 0 !important;
    }
    tr:first-child td {
      padding-top: 7px;
    }
  }
  .access thead td {
    padding-bottom: 4px;
    text-align: center;
  }
}

td {
  &.align-center {
    text-align: center;
  }
  &.align-top {
    vertical-align: top;
  }
}
.settings-stretcher > div  > fieldset, .settings-stretcher > fieldset, .settings-fields > fieldset{
  margin: 20px;
  border: 1px solid grey;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
legend {
  border : 0px;
  width: auto;
}
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
